<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="forgot mat-elevation-z12">
    <div class="forgot-header" fxLayout="column" fxLayoutAlign="center center">
      <img class="logo" src="assets/img/logo2x.png">
    </div>
    <form>
      <div class="forgot-content" fxLayout="column" fxLayoutAlign="start stretch">
        <button color="primary" mat-raised-button>RECOVER PASSWORD</button>
        <p class="note"><a (click)="send()">Back to login</a></p>
      </div>
    </form>
  </div>
</div>
